{{define "layout"}}

 {{$canShare := not googleCN}}

<div class="PlayPage">
  <div class="Playground-controls">
    <h1 class="Playground-title">Go 在线运行环境</h1>
    <div class="Playground-buttons">
    {{if .playVersions -}}
    <select class="Playground-selectGoVersion js-playgroundVersionEl" aria-label="Go 版本">
    {{range .playVersions -}}
    <option value="{{.Backend}}">{{if eq .Name "Go release"}}Go 正式版{{else if eq .Name "Go previous release"}}Go 上一正式版{{else if eq .Name "Go dev branch"}}Go 开发分支{{else}}{{.Name}}{{end}}</option>
    {{end -}}
    </select>
    {{end -}}
    <button id="run" class="Button Button--primary js-playgroundRunEl Playground-runButton" title="运行此代码 [shift-enter]">运行</button>
    <div class="Playground-secondaryButtons">
      <button id="fmt" class="Button js-playgroundFmtEl Playground-button" title="格式化此代码">格式化</button>
      {{- if $canShare}}
      <button id="share" class="Button js-playgroundShareEl Playground-button" title="分享此代码">分享</button>
      {{- end}}
    </div>
    <input type="text" class="Playground-shareURL js-playgroundShareURLEl" title="分享链接" style="display: none;"></input>
    <select class="Playground-selectExample js-playgroundToysEl" aria-label="代码示例">
    <option value="hello.go">你好，世界！</option>
    <option value="life.go">康威生命游戏</option>
    <option value="fib.go">斐波那契闭包</option>
    <option value="peano.go">皮亚诺整数</option>
    <option value="pi.go">并发计算圆周率</option>
    <option value="sieve.go">并发素数筛</option>
    <option value="solitaire.go">独立钻石棋求解器</option>
    <option value="tree.go">树的比较</option>
    <option value="clear.go">清屏</option>
    <option value="http.go">HTTP 服务器</option>
    <option value="image.go">显示图像</option>
    <option value="multi.txt">多个文件</option>
    <option value="sleep.go">休眠</option>
    <option value="test.go">测试函数</option>
    <option value="index-dev.txt">泛型索引</option>
    </select>
    </div>
  </div>
  <div class="Playground-inputContainer">
    <div class="Playground-preContainer" id="editor-description">
      按 Esc 键可将焦点移出编辑器。
    </div>
    <div id="wrap">
    <textarea id="code" name="code" class="Playground-input js-playgroundCodeEl" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" aria-label="试用 Go" aria-describedby="editor-description">{{if strings.Contains .URL "/play/p/"}}正在加载分享的代码……
{{else}}
// 你可以编辑这段代码！
// 点击此处开始输入。
package main

import "fmt"

func main() {
	fmt.Println("Hello, 世界")
}{{end}}</textarea>
    </div>
  </div>
  <div class="Playground-outputContainer js-playgroundOutputEl">
    <pre class="Playground-output"><noscript>Hello, 世界</noscript></pre>
  </div>

<div class="PlayAbout">
<p><b>关于在线运行环境</b></p>

<p>
Go 在线运行环境是一项运行在 <a href="/">go.dev</a> 服务器上的 Web 服务。
它接收 Go 程序，执行 <a href="/cmd/vet/">vet 静态检查</a>、编译和链接，
然后在沙箱中运行程序并返回输出。
</p>

<p>
如果程序包含<a href="/pkg/testing">测试或示例</a>而没有 main 函数，服务就会运行这些测试。
由于程序在资源受限的沙箱环境中运行，很可能不会支持基准测试。
</p>

<p>
在线运行环境对程序有以下限制：
</p>

<ul>

<li>
除少数例外，在线运行环境可以使用大部分标准库。
程序与外界通信的唯一方式，是写入标准输出和标准错误。
</li>

<li>
在线运行环境中的时间从 UTC 2009-11-10 23:00:00 开始
（这个日期有何意义，留给读者自行探索）。这样可以让程序输出具有确定性，便于缓存。
</li>

<li>
执行时间、CPU 使用量和内存使用量也有限制。
</li>

</ul>

<p>
文章《<a href="/blog/playground" target="_blank" rel="noopener">Go 在线运行环境的内部实现</a>》介绍了这项服务的实现方式。
源码位于 <a href="https://go.googlesource.com/playground" target="_blank" rel="noopener">https://go.googlesource.com/playground</a>。
</p>

<p>
在线运行环境使用 <a href="/play/p/Ztyu2FJaajl">Go 的最新稳定版本</a>。
</p>

<p>
除了 Go 官方项目，其他网站也在使用这项服务
（例如 <a href="https://gobyexample.com/">Go by Example</a>），我们也欢迎你在自己的网站上使用。
我们只要求你<a href="mailto:golang-dev@googlegroups.com">先联系我们（注意，这是公开邮件列表）</a>，
在请求中使用独特的 User-Agent 以便识别，并确保你的服务对 Go 社区有益。
</p>

<p>
如需请求移除内容，请发送邮件至
<a href="mailto:security@golang.org">security@golang.org</a>，并附上网址和请求理由。
</p>
</div>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11222381-7"></script>
<script src="/js/jquery-linedtextarea.js" defer></script>
<script src="/js/playsite.js" defer></script>

{{end}}
