{{define "layout"}}

<article class="Texthtml Article">

{{if strings.HasSuffix .URL ".go"}}
<h1>源文件 {{breadcrumb .URL}}</h1>
{{else}}
<h1>文本文件 {{breadcrumb .URL}}</h1>
{{end}}

{{.texthtml}}

</article>
{{end}}
