go 1.27.0

use (
	.
	./01-variables
	./02-input-output
	./03-basic-types
	./04-collections
	./05-if
	./06-switch
	./07-loops
	./08-functions
	./09-pointers
	./10-init-defer
	./11-structs
	./12-defined-types
	./13-interfaces
	./14-goroutines
	./15-channels
	./16-select-timeout
	./17-concurrency-safety
	./18-errors
	./19-generics
	./20-file-reading
	./21-file-writing
	./22-file-copy
	./23-directories
	./24-unit-testing
	./25-reflection
	./26-tcp
	./27-http
	./28-rpc
	./29-websocket
	./30-deployment
	./example
)
